.Rhistory
.RData
.Rproj.user
scrna-batch-report.Rproj
.DS_Store
merged_so_elbow.Rds
merged_so_pcaresults.rds
.hisedownloadlog.rds
.hisefilelog.rds
.ipynb_checkpoints/
inst/rmarkdown/.ipynb_checkpoints/
inst/rmarkdown/meta.Rds
testing_code/
inst/rmarkdown/figure
testing_code
